@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Promotions.Discounts").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.Promotions.Discounts")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="discounts-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#discounts-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "Discount"))",
                                    type: "POST",
                                    dataType: "json",
                                    contentType: "application/json"
                                },
                                parameterMap: function(data, operation) {
                                    if (operation != "read") {
                                        return data;
                                    } else {
                                        //for some reasons only such "Filter" data be parsed
                                        return JSON.stringify(data);
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors", 
                                model: {
                                    id: "Id",
                                    fields: {
                                        Name: { type: "string" },
                                        CouponCode: {  type: "string" },
                                        DiscountAmount: {type: "number" },
                                        StartDateUtc: {  type: "date" },
                                        EndDateUtc: { type: "date" },
                                        Id: { type: "number" }
                                    }
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        sortable: true,
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Contains",
                                    eq: "Is equal to",
                                    startswith: "Starts with"
                                }
                            }
                        },
                        scrollable: false,
                        columns: [{
                            field: "Name",
                            title: "@T("Admin.Promotions.Discounts.Fields.Name")",
                            width: 350,
                            filterable: true,
                            sortable: true
                        }, {
                            field: "CouponCode",
                            title: "Coupon Code",
                            width: 200,
                            filterable: true,
                            sortable: true
                        },{
                            field: "DiscountAmount",
                            title: "@T("Admin.Promotions.Discounts.Fields.Discount")",
                            width: 200,
                            template: '# if(UsePercentage) {# #=DiscountPercentage# % #} else {#  #=DiscountAmount# #=PrimaryStoreCurrencyCode# #} #',
                            filterable: false,
                            sortable: true
                        }, {
                            field: "StartDateUtc",
                            title: "@T("Admin.Promotions.Discounts.Fields.StartDate")",
                            width: 200,
                            type: "date",
                            format: "{0:G}",
                            filterable: false,
                            sortable: true
                        }, {
                            field: "EndDateUtc",
                            title: "@T("Admin.Promotions.Discounts.Fields.EndDate")",
                            width: 200,
                            type: "date",
                            format: "{0:G}",
                            filterable: false,
                            sortable: true
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>',
                            filterable:false,
                            sortable:false
                        }]
                    });
                });
            </script>
        </td>
    </tr>
</table>