@{
    Layout = "";
}
@model Nop.Plugin.Widgets.AdminFeatures.Models.ConfigurationModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.UsePickingSlips):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.UsePickingSlips)
                @Html.ValidationMessageFor(model => model.UsePickingSlips)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.UseUPSExport):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.UseUPSExport)
                @Html.ValidationMessageFor(model => model.UseUPSExport)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.UseUPSImport):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.UseUPSImport)
                @Html.ValidationMessageFor(model => model.UseUPSImport)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
    
}
