<div id="header"><a href="/" id="logo"></a></div>
<div id="menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/t/Features">Features</a></li>
		<li><a href="/Plugins/WidgetsGeneSysWidget/PersonalizeOnly"> Create a Stamp </a></li>
		<li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
		<li><a href="/t/AboutUs"> About Us </a></li>
		<li class="pl16"><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
		<li><a href="@Url.RouteUrl("ShoppingCart")">Cart</a></li>
	</ul>
</div>
<div class="septr"></div>